<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
          integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n"
            crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
            integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
            crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js"
            integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6"
            crossorigin="anonymous"></script>
</head>
<body>
<!-
 FYI: This html will be used as the base html web page which means user will make choices about department, doctor and weekday based on their requirements.
 I think this page will dynamically interact with the back end so that it can get required data according to user input.
 If you see this, please contact me by WeChat.
 Now I will just use this for test.
->
<form action="{% url 'appoint:register_test' %}" method="post">
{% csrf_token %}
{% if days %}
    {% for field in days %}
    <div class="field_wrapper">
        {{ field.label }}
        {{ field }}
    </div>
    {% endfor %}
{#    {% for day in days %}#}
{#        <div class="day_wrapper">#}
{#            <input type="radio" id="id_{{ days.index|day }}">#}
{#            <label for="id{{ days|length }}">{{ day }}</label>#}
{#        {{ days|remove }}#}
{#        </div>#}
{#    {% endfor %}#}
{% endif %}
<input type="submit" value="Submit">
</form>
</body>
</html>