<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>密码修改完成</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
{% load static %}
<style>
    .form-control{width:250px}
    #function{margin-left:60%;font-size:12px}
    #title{margin-top: 6px}
    .lead{font-size: 16px}
    #introduction{margin-left:30%;margin-top:130px}
    #FP{background-image:({% static 'login/imgs/background.jpg' %});width:100%;height: 1000px}
</style>
<nav class="navbar navbar-default navbar-menu" style="margin:0;padding:0">
    <div class="menu-container">
        <!-- Brand and toggle get grouped for better mobile display -->
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#service-menu"
                    aria-expanded="false">
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <p class="navbar-brand" style="font-size:25px;color: black">CUFE医院患者服务系统</p>
        </div>

        <!-- Collect the nav links, forms, and other content for toggling -->
        <div class="collapse navbar-collapse" id="service-menu">
            <ul class="nav navbar-nav" style="margin-left:35%;margin-top:0.3%">
                <li><a href="{% url 'login:sign_in' %}" id="page1">首页</a></li>
                <li><a href="{% url 'login:department_list' %}" id="department">科室分类</a></li>
                <li><a href="{% url 'appoint:search' %}" id="reserve">预约挂号</a></li>
                <li><a href="{% url 'login:contact' %}" id="contact">联系我们</a></li>
                <li><a href="{% url 'login:ourhelp' %}" id="help">帮助中心</a></li>
                <li><a href="{% url 'login:user_center' %}" id="self">个人中心</a></li>
                {% if user_id != -1 and user_id %}
                    <li>
                        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                            <span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="min-width:100%">
                            <li><a href="{% url 'login:change_info' %}">设置</a></li>
                            <li><a href="{% url 'login:user_center' %}">我的预约</a></li>
                            <li><a href="{% url 'login:logout' %}">退出登录</a></li>
                        </ul>
                    </li>
                {% else %}
                {% endif %}
            </ul>
        </div><!-- /.navbar-collapse -->
    </div><!-- /.container-fluid -->
</nav>
            <form class="form-horizontal" role="form" method="post" action={% url 'login:change_psw' %} style="margin-left:70px;margin-top:120px">
    {% csrf_token %}

<div class="form-group" style="margin-left:28%">
             <label for="disabledTextInput" class="col-sm-2 control-label" ><span class="glyphicon glyphicon-lock"></span>&nbsp新密码</label>
    <div class="col-sm-10" >
      <input type="password" name="password" class="form-control" id="pass" placeholder="密码为6-20位的数字与字母" style="width:250px;margin-left:4%"><!--修改该代码-->
        <p style="position:absolute;color: red;left:35%;top:21%">{{ errors.password }}</p>
    </div>
               </div>

<div class="form-group" style="margin-left: 28%">
             <label for="disabledTextInput" class="col-sm-2 control-label" ><span class="glyphicon glyphicon-lock"></span>&nbsp确认密码</label>
    <div class="col-sm-10" >
      <input type="password" name="repeat_password" class="form-control" id="pass2" placeholder="重新输入新密码" style="width:250px;margin-left:4%"><!--修改该代码-->
        <p style="position:absolute;color: red;left:35%;top:33%">{{ errors.repeat_password }}</p>
        <p style="position:absolute;color: red;left:35%;top:52%">{{ repeat_error2 }}</p>
    </div>
               </div>

{#  <br class="form-group">#}
{#      <br> </br>#}
{#    <label for="password" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-lock" style="font-size: 15px">  输入新的密码:</span></label>#}
{#    <div class="col-sm-10">#}
{#      <input type="password" class="form-control" id="lastname">#}
{#    </div>#}
{#  </div>#}
{# <div class="form-group">#}
{#     <br> </br>#}
{#     <br> </br>#}
{#    <label for="repeat password"class="col-sm-2 control-label"><span class="	glyphicon glyphicon-lock" style="font-size: 15px">  确认新的密码:</span></label>#}
{#    <div class="col-sm-10">#}
{#      <input type="password" class="form-control" id="lastname">#}
{#    </div>#}
{#  </div>#}
<input name="user_id" class="invisible" id="user_id" value={{ user_id }}>
<div class="form-group">
    <br> </br>
    <br> </br>
    <div>
      <button type="submit" class="btn btn-info" style="margin-top:-6%; margin-left:40%;text-align: center;width:200px"> 完成 </button>
    </div>
  </div>


</form>
</body>
</html>


<script> <!--加入该代码点击眼睛-->
    var eye=document.getElementById("eye");
    var pass=document.getElementById("password")
    function change() {
        if(pass.type=="text"){
            pass.type="password";

        }
        else{
            pass.type="text";
        }
    }


    var eye2=document.getElementById("eye2");
    var pass2=document.getElementById("password2")
    function change2() {
        if(pass2.type=="text"){
            pass2.type="password";
        }
        else{
            pass2.type="text";
        }
    }

</script>
