<!DOCTYPE html>
<html lang="en" xmlns: xmlns:>
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>注册页面</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/css/bootstrap.min.css" rel="stylesheet">
    <script src="https://cdn.jsdelivr.net/npm/jquery@1.12.4/dist/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@3.3.7/dist/js/bootstrap.min.js"></script>
</head>
{% load static %}
<style>
    .form-control {
        width: 250px
    }

    #function {
        margin-left: 60%;
        font-size: 12px
    }

    #title {
        margin-top: 6px
    }

    .lead {
        font-size: 16px
    }

    #introduction {
        margin-left: 30%;
        margin-top: 130px
    }

    #FP {
        background-image: url({% static "appoint/imgs/back2.jpg"  %});
        width: 100%;
        height: 1000px
    }
</style>
<body>
<nav class="navbar navbar-default" role="navigation" style="margin:0;padding: 0">
    <div class="container-fluid">
        <div class="navbar-header" id="title">
            <p class="navbar-brand" style="font-size:25px;color: black">CUFE医院患者服务系统</p>
        </div>
        <div id="function">
            <ul class="nav navbar-nav" style="margin-top: 8px;">
                <li><a href="#" id="page1">首页</a></li>
                <li><a href="#" id="department">科室分类</a></li>
                <li><a href="#" id="reserve">预约挂号</a></li>
                <li><a href="#" id="contact">联系我们</a></li>
                <li><a href="#" id="help">帮助中心</a></li>
                <li><a href="#" id="self">个人中心</a></li>
                <!--以下部分登陆成功后才会显示-->
                <li>
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <span class="glyphicon glyphicon-user"></span> <b class="caret"></b></a>
                    <ul class="dropdown-menu" style="min-width:100%">
                        <li><a href="#">设置</a></li>
                        <li><a href="#">我的预约</a></li>
                        <li><a href="#">退出登录</a></li>
                    </ul>
                </li>
            </ul>
        </div>
    </div>
</nav>

<div class="container" id="FP">
    <div class="container" style="margin-left:8%;margin-top:2%">
        <img src="{% static 'login/imgs/2.png' %}" style="width: 718.5px;height: 133.5px">
    </div>
    <div class="col-xs-6">
        <form class="form-horizontal" role="form" method="post"
              action={% url 'login:sign_up_test' %} style="margin-left:70px;margin-top:120px">
            {% csrf_token %}
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label"><span class="glyphicon glyphicon-user"
                                                                       style="font-size: 15px">  用户名:</span></label>
                <div class="col-sm-10">
                    <input type="text" name='name' class="form-control" id="firstname" placeholder="请输入用户名">
                    <div stype="color:red,margin-left:1%">{{ errors.name }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="password" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-lock"
                                                                           style="font-size: 15px">  设置密码:</span></label>
                <div class="col-sm-10">
                    <input name="password" type="password" class="form-control" id="lastname" placeholder="请设置密码">
                    <div stype="color:red,margin-left:1%">{{ errors.password }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="repeat password" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-lock"
                                                                                  style="font-size: 15px">  确认密码:</span></label>
                <div class="col-sm-10">
                    <input name="repeat_password" type="password" class="form-control" id="lastname"
                           placeholder="请确认密码">
                    <div stype="color:red,margin-left:1%">{{ errors.repeat_password }}</div>
                </div>
            </div>
{#            {{ sign_up_form.sex }}#}
            <div class="form-group">
                <label for="sex" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-asterisk"
                                                                      style="font-size: 15px">  性别:</span></label>
                <div class="col-sm-9 ">
                    <label><input type="radio" name="sex" id="id_sex_0" value="male" size="12"/>男</label>
                    <label><input type="radio" name="sex" id="id_sex_1" value="female" size="12"/>女</label>
                </div>
                                    <div stype="color:red,margin-left:1%">{{ errors.sex }}</div>

            </div>

            <div class="form-group">
                <label for="e-mail" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-asterisk"
                                                                         style="font-size: 15px">  邮箱:</span></label>
                <div class="col-sm-10">
                    <input name="email" type="text" class="form-control" id="e-mail" placeholder="请输入您的邮箱">
                </div>
                    <div stype="color:red,margin-left:1%">{{ errors.email }}</div>
            </div>
            <div class="form-group">
                <label for="cellphone" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-phone-alt"
                                                                            style="font-size: 15px">  移动电话:</span></label>
                <div class="col-sm-10">
                    <input name="phone" type="text" class="form-control" id="cellphone" placeholder="请输入您的手机号">
                    <tr style="height: 20px"></tr>
                    <div stype="color:red,margin-left:1%">{{ errors.phone }}</div>
                </div>
            </div>
            <div class="form-group">
                <label for="name" class="col-sm-2 control-label"><span class="	glyphicon glyphicon-asterisk"
                                                                       style="font-size: 15px">  出生日期:</span></label>
                <div class="col-sm-10">
                    <input type="date" class="form-control" name="birth" id="birth" placeholder="格式：YYYY-MM-DD">
                </div>

            </div>
{#            {{ sign_up_form.birth.label }}#}
{#            {{ sign_up_form.birth}}#}
{#            {{ errors.birth }}#}
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <button type="submit" class="btn btn-info" style="margin-left:18px;text-align: center;width:200px">
                        完成注册
                    </button>
                </div>
            </div>
            <div class="form-group">
                <div class="col-sm-offset-2 col-sm-10">
                    <label><a href={% url 'login:sign_in' %} style="margin-left:50px">已有账号？立即登录</a></label>
                </div>
            </div>

        </form>
    </div>
</div>


</body>
</html>
